<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booking Details</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/viewDetailBooking.css">
</head>
<body>
<header>
  <div class="vbook-box">
    <a href="/home"><button class="vbook-btn">VBOOK4U</button></a>
  </div>
  <div class="search">
    <% if (userSession) { %>
      <button class="logout-btn" onclick="window.location.href='/logout'"> Logout </button>
    <% } else { %>
      <a href="/login"><button class="signin-btn logout-btn">Sign In</button></a>
    <% } %>
  </div>
</header>
<br>
<div class="container">
  <h2>Booking Details</h2>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Property: <%= booking.property.propertyName %></h5>
      <small style="font-weight: bold;">Booking: #id <%= booking.id %></small><br>
      <br>
 
      <% property.images.forEach(image => { %>
        <img class="property-images" src="<%= image %>" alt="<%= property.propertyName %> Image">
    <% }); %>
     
      <p class="card-text"><strong>Check-in Date:</strong> <%= booking.checkIn %></p>
      <p class="card-text"><strong>Check-out Date:</strong> <%= booking.checkOut %></p>
      <p class="card-text"><strong>Check-in Time:</strong> 12:00 PM </p>
      <p class="card-text"><strong>Check-out Time:</strong> 11:00 AM </p>
      <p class="card-text"><strong>Price:</strong> ₹<%= booking.price %></p>
      <p class="card-text"><strong>Booking Status:</strong> <%= booking.bookingStatus %></p>
      <p class="card-text"><strong>Name:</strong> <%= booking.name %></p>
      <p class="card-text"><strong>Email:</strong> <%= booking.email %></p>
      <p class="card-text"><strong>Phone:</strong> <%= booking.phoneNumber %></p>
      <p class="card-text"><strong>Owner Name:</strong> <%= booking.property.owner.fullname %></p>
      <p class="card-text"><strong>Owner Phone:</strong> <%= booking.property.owner.phoneNumber %></p>
      <p class="card-text"><strong>Coupon Code:</strong> <%= booking.couponName ? booking.couponName : "None"  %></p>
      <a href="/yourBooking" class="btn btn-primary">Back to Bookings</a>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
